# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment files
.env
*.env

# Ignore Docker Compose files (if not needed in the image)
docker-compose.yml

# Ignore Kubernetes configuration files
flaskk8s/
monk8s/
images/
namespace.yaml

# Ignore README file
README.md

# Ignore the Docker ignore file itself
.dockerignore

# Ignore other unnecessary files
mongo-init.js
